<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale-1.0, minimum-scale-1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>IV Brigada Aérea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <!--Header-->
    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a class="active" href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu"><a href="informacion.html" target="blank">Información</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="examenmodelo.html">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="historia.html" target="blank">Historia</a></li>
                    <li class="submenu"><a href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Fin del header-->
    <div class="banner">
        <div class="capa"></div>
        <div class="info">

            <h1>
                <span>4-106</span> <span>IV</span><span>BRIGADA AÉREA</span>
            </h1>
            <p>
                <span>Saber, saber hacer y ser</span>
            </p>
        </div>
    </div>

    <!-- Cards-->
    <div class="mainCards">

        <h1 class="tituloDeConjuntoCards" data-aos="fade-up">Destacados:</h1>

        <div class="contenedorDeCards">
            <!--ESTO SE USA PARA PONERLE DELAY AL AOS-->
            <div class="card" data-aos="fade-up" data-aos-delay="300">
                <img
                    src="https://scontent.fmdz5-1.fna.fbcdn.net/v/t1.6435-9/211842827_1979991188815697_5018482239490416000_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHPDgnBW5FViV7jn-7HfG1drij1cIY_9eOuKPVwhj_140yR7IwKM86s3GnadOzv4yLhzBr4IBePmudyQJ4ZIFw0&_nc_ohc=Sh8ZunyGHuQAX-vT5xX&tn=_gr-UJ0ooMxtfeOk&_nc_ht=scontent.fmdz5-1.fna&oh=00_AT8KGf8w3ZcVZ8iY03xYzgvEpXP-YeoWitdCiPD6zL1cCA&oe=633BA098">
                <h4>Puesta en Marcha de Marbore VI- J</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="350">
                <img
                    src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/292331891_502279678364494_4414098343121299325_n.jpg?stp=dst-jpg_p180x540&_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGmQ1uz3Pl4cRZ6r7uZks9fKElgIwmTyaMoSWAjCZPJo3Mbx6--Ky51zAEJCAbG9vZ5snTyP5rfW6lFkcybBiAO&_nc_ohc=2U_JNtLCDA4AX9THiw_&_nc_ht=scontent.fmdz4-1.fna&oh=00_AT-7RpDo-VB4EmXRqbMFwsLqJsLwsue8XS94aHH-AUVNkg&oe=63167EB6">
                <h4>Inscripciones</h4>
                <p class="fecha"></p>
                <p>la inscripción para aspirantes a 1er. Año 2023 será a partir del 1de septiembre hasta el 30 inclusive
                    ( horario de 9:00 a 12:00 y por la tarde de 14:00 a 17:00 hs)</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="400">
                <img
                    src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/280520612_2221934241288056_5167662265484493617_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHdKwD4V1CpeyuhN9bjLLdk2sXQbOD_ycraxdBs4P_JyvbRBmVaVLTt8nyXwmTDLxt8NIqz3hEelK9cxk7uinr-&_nc_ohc=qNqM5wKICcMAX_bxT4G&_nc_ht=scontent.fmdz4-1.fna&oh=00_AT_SeYzLwYLFULs4cK-UkDAUT7rUndmF9VHmXemaGH0Esg&oe=631B3827">
                <h4>Reunión Anual Ex Aprendices y Alumnos</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="450">
                <img src="https://scontent.fmdz5-1.fna.fbcdn.net/v/t39.30808-6/296549693_521103229815472_7184658567833885878_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeE1OOp6iUafpuovAHBSZ_Ybn_HSMqf7Bgif8dIyp_sGCEWW0dEGQQL2SRiq7QkbjScT06Lh5rLNTLgQAs2JF9hw&_nc_ohc=nedZ4ntDqsUAX8b2Efo&_nc_ht=scontent.fmdz5-1.fna&oh=00_AT-7D0GL7gYYgslDz1f9---Y6DCSbz93r4oAu1T5XPjqhA&oe=631AC720">
                <h4>17 de Agosto</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="500">
                <img src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/277811445_2192917577523056_8330340094312372751_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHA-LmOq7KMdYCs0p2ywgD6gC5zkvPQA8OALnOS89ADw2qyV0x2Jmjon0TfcUI1TTFkACZhjGdZRyE_dfytsP4H&_nc_ohc=MK7gF_qVCK0AX93gwHm&tn=_gr-UJ0ooMxtfeOk&_nc_ht=scontent.fmdz4-1.fna&oh=00_AT-mToiKG4plH5GpHmsHX_Kl0OGmUddEnRR2uPjD6njwSQ&oe=631C1105">
                <h4>Día del Veterano y de los Caídos en la Guerra de las Malvinas</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>
        </div>




        <h1 class="tituloDeConjuntoCards" data-aos="fade-up">Noticias:</h1>
        <div class="contenedorDeCards">
            <div class="card" data-aos="fade-up" data-aos-delay="300">
                <img src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/301186366_538311631427965_2070844918304610773_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHcyhcLCZt5jsZMLOdXRHFuBFSn9z-k33sEVKf3P6Tfe-4m526XbAHkcmgBn7WrfU28cqac6j9Vsz4rb8UOZdZ5&_nc_ohc=UckY7UOHIFQAX-uf45U&_nc_ht=scontent.fmdz4-1.fna&oh=00_AT_juluOIPEPfJWbo7Dvcv-99TLVeptDvTahIcODCzS99Q&oe=631B5E03">
                <h4>Exponiendo en el Parque de la Niñez</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="350">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="400">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="450">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

            <div class="card" data-aos="fade-up" data-aos-delay="500">
                <img src="../imgej.jpg">
                <h4>Tecnología</h4>
                <p class="fecha"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>

            </div>

        </div>
    </div>

    <!--Mision-->
    <div class="contDeMision">

        <div class="mision" data-aos="fade-up">
            <h1><span>Mision</span></h1>
            <p class="parrMis">La escuela IV Brigada Aérea tiene por misión formar Técnicos en Aeronáutica capaces de
                entender y trabajar en la aeronave el concepto de seguridad operacional aeronáutica y
                actuar en consecuencia. La seguridad operacional comienza y termina en el manejo de
                riesgos, es decir, la generación de defensas activas tendientes a asegurar la operación sin
                peligro de sistemas aeronáuticos que están en continuo funcionamiento o movimiento.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Vision</span></h1>
            <p class="parrMis">Nuestra visión, es formar técnicos aeronáuticos conforme a las exigencias específicas de
                la
                Organización de Aviación Civil Internacional y la Administración Nacional de Aviación Civil,
                no sólo en lo atinente a la actitud técnica del individuo para mantener y operar sistemas
                mecánicos, sino a su capacidad para entender y desenvolverse en un ambiente cultural
                aeronáutico. El concepto de cultura aeronáutica envuelve y supera el concepto restrictivo
                de saber técnico.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Valores</span></h1>
            <p class="parrMis">Uno de los valores fundamentales e históricos de la escuela es el “respeto” por tal
                motivo
                consideramos seguir manteniéndolo y profundizando . Cuando hablamos de respeto, nos
                referimos al cuidado minucioso de los procedimientos aeronáuticos en pos de velar por la
                seguridad operacional de las personas; y también, nos referimos a l respeto del otro/a en el ámbito
                escolar, tanto entre la relación de adultos - estudiantes como entre
                pares, como así también, de la diversidad y de los recursos materiales de la Escuela.</p>
        </div>

    </div>

    <div class="conteinerAgregar">
        <!--Solamente para de dejar el color rgb(92, 122, 234)-->

    </div>
    <!--Footer-->

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
    </footer>



    <script src="./header.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>



</body>

</html>