<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale-1.0, minimum-scale-1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>IV Brigada Aérea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <!--Header-->
    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a class="active" href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu"><a href="informacion.html" target="blank">Informacion</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="examenmodelo.html">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="historia.html" target="blank">Historia</a></li>
                    <li class="submenu"><a href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Fin del header-->
    <div class="banner">
        <div class="capa"></div>
        <div class="info">

            <h1>
                <span>4-106</span> <span>IV</span><span>BRIGADA AÉREA</span>
            </h1>
            <p>
                <span>Saber, saber hacer y ser</span>
            </p>
        </div>
    </div>

    <!-- Cards-->
    <div class="mainCards">

    <h1 class="tituloDeConjuntoCards" data-aos="fade-up">Destacados:</h1>

        <div class="contenedorDeCards">

            <div class="card" data-aos="fade-up">
                <img
                    src="https://scontent.fmdz5-1.fna.fbcdn.net/v/t31.18172-8/13938080_10153968091358937_1234687427112162513_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9267fe&_nc_eui2=AeFVE97lK3596Ym5qSUkX4Yc02ihZG2ve_bTaKFkba979nPfwXObX-pikOKd7CkEAIub1RehoZOdp4dH9KPX7Zuq&_nc_ohc=o4XXDxsyekIAX-t88Ph&_nc_ht=scontent.fmdz5-1.fna&oh=00_AT9AYZtoa5__bJW6T9yM71q4Q_yx2m5-mL4I2qyxURYikg&oe=633521B1">
                <h4>Paso a la inmortalidad del General José de San Martín.</h4>
                <p class="fecha">17 De Agosto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img
                    src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/292331891_502279678364494_4414098343121299325_n.jpg?stp=dst-jpg_p180x540&_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGmQ1uz3Pl4cRZ6r7uZks9fKElgIwmTyaMoSWAjCZPJo3Mbx6--Ky51zAEJCAbG9vZ5snTyP5rfW6lFkcybBiAO&_nc_ohc=2U_JNtLCDA4AX9THiw_&_nc_ht=scontent.fmdz4-1.fna&oh=00_AT-7RpDo-VB4EmXRqbMFwsLqJsLwsue8XS94aHH-AUVNkg&oe=63167EB6">
                <h4>Inscripciones</h4>
                <p>la inscripción para aspirantes a 1er. Año 2023 será a partir del 1de septiembre hasta el 30 inclusive
                    ( horario de 9:00 a 12:00 y por la tarde de 14:00 a 17:00 hs)</p>
                <a href="inscripciones.html">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Comida</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>
        </div>

        <h1 class="tituloDeConjuntoCards" data-aos="fade-up">Noticias:</h1>
        <div class="contenedorDeCards">
            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Tecnología</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

        </div>
    </div>

    <!--Mision-->
    <div class="contDeMision">

        <div class="mision" data-aos="fade-up">
            <h1><span>Mision</span></h1>
            <p class="parrMis">La escuela IV Brigada Aérea tiene por misión formar Técnicos en Aeronáutica capaces de
                entender y trabajar en la aeronave el concepto de seguridad operacional aeronáutica y
                actuar en consecuencia. La seguridad operacional comienza y termina en el manejo de
                riesgos, es decir, la generación de defensas activas tendientes a asegurar la operación sin
                peligro de sistemas aeronáuticos que están en continuo funcionamiento o movimiento.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Vision</span></h1>
            <p class="parrMis">Nuestra visión, es formar técnicos aeronáuticos conforme a las exigencias específicas de
                la
                Organización de Aviación Civil Internacional y la Administración Nacional de Aviación Civil,
                no sólo en lo atinente a la actitud técnica del individuo para mantener y operar sistemas
                mecánicos, sino a su capacidad para entender y desenvolverse en un ambiente cultural
                aeronáutico. El concepto de cultura aeronáutica envuelve y supera el concepto restrictivo
                de saber técnico.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Valores</span></h1>
            <p class="parrMis">Uno de los valores fundamentales e históricos de la escuela es el “respeto” por tal
                motivo
                consideramos seguir manteniéndolo y profundizando . Cuando hablamos de respeto, nos
                referimos al cuidado minucioso de los procedimientos aeronáuticos en pos de velar por la
                seguridad operacional de las personas; y también, nos referimos a l respeto del otro/a en el ámbito
                escolar, tanto entre la relación de adultos - estudiantes como entre
                pares, como así también, de la diversidad y de los recursos materiales de la Escuela.</p>
        </div>

    </div>

    <div class="conteinerAgregar">
        <!--Solamente para de dejar el color rgb(92, 122, 234)-->

    </div>
    <!--Footer-->

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b> <a href="https://github.com/NegroHm">NegroHm</a></b></p>
        </div>
    </footer>



    <script src="./header.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>



</body>

</html>