<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale-1.0, minimum-scale-1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>IV Brigada Aérea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
    <!--Header-->
    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a class="active" href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu"><a href="informacion.html" target="blank">Informacion</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="historia.html" target="blank">Historia</a></li>
                    <li class="submenu"><a href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Fin del header-->
    <div class="banner">
        <div class="capa"></div>
        <div class="info">

            <h1>
                <span>4-106</span> <span>IV</span><span>BRIGADA AÉREA</span>
            </h1>
            <p>
                <span>Saber, saber hacer y ser</span>
            </p>
        </div>
    </div>

    <!-- Cards-->
    <div class="mainCards">
        <div class="contenedorDeCards">
            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>
            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>
            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>
            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Comida</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card" data-aos="fade-up">
                <img src="../imgej.jpg">
                <h4>Tecnología</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

        </div>
    </div>

    <!--Mision-->
    <d  iv class="contDeMision">

        <div class="mision" data-aos="fade-up">
            <h1><span>Mision</span></h1>
            <p class="parrMis">La escuela IV Brigada Aérea tiene por misión formar Técnicos en Aeronáutica capaces de
                entender y trabajar en la aeronave el concepto de seguridad operacional aeronáutica y
                actuar en consecuencia. La seguridad operacional comienza y termina en el manejo de
                riesgos, es decir, la generación de defensas activas tendientes a asegurar la operación sin
                peligro de sistemas aeronáuticos que están en continuo funcionamiento o movimiento.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Vision</span></h1>
            <p class="parrMis">Nuestra visión, es formar técnicos aeronáuticos conforme a las exigencias específicas de
                la
                Organización de Aviación Civil Internacional y la Administración Nacional de Aviación Civil,
                no sólo en lo atinente a la actitud técnica del individuo para mantener y operar sistemas
                mecánicos, sino a su capacidad para entender y desenvolverse en un ambiente cultural
                aeronáutico. El concepto de cultura aeronáutica envuelve y supera el concepto restrictivo
                de saber técnico.</p>
        </div>
        <div class="mision" data-aos="fade-up">
            <h1><span>Valores</span></h1>
            <p class="parrMis">Uno de los valores fundamentales e históricos de la escuela es el “respeto” por tal
                motivo
                consideramos seguir manteniéndolo y profundizando . Cuando hablamos de respeto, nos
                referimos al cuidado minucioso de los procedimientos aeronáuticos en pos de velar por la
                seguridad operacional de las personas; y también, nos referimos a l respeto del otro/a en el ámbito
                escolar, tanto entre la relación de adultos - estudiantes como entre
                pares, como así también, de la diversidad y de los recursos materiales de la Escuela.</p>
        </div>

    </div>

    <div class="conteinerAgregar">
        <!--Solamente para de dejar el color rgb(92, 122, 234)-->
        <h1>HOLA</h1>
        <h1>HOLA</h1>
        <h1>HOLA</h1>
        <h1>HOLA</h1>
        <h1>HOLA</h1>


    </div>
    <!--Footer-->

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b> <a href="https://github.com/NegroHm">NegroHm</a></b></p>
        </div>
    </footer>




    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>



</body>

</html>