<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/historia.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>informacion</title>
</head>
<body>

    <section class="header1">
        <nav class="main1">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="#" class="enlace">
                <img src="../logo.jpg" alt="" class="logo">
            </a>
            <ul>
                <li><a class="active" href="/index.html">Inicio</a></li>
                <li><a href="../pag/ubicacion.html">Historia</a></li>
                <li><a href="../pag/informacion.html">Iformacion</a></li>
                <li><a href="../pag/proyectos.html">Proyectos</a></li>
                <li><a href="../pag/ubicacion.html">Ubicacion</a></li>
            </ul>
        </nav>
    </section>

    <main>
        <h1>informacion</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis sint cumque itaque vel. Hic fugit qui optio temporibus magnam quod ut accusamus voluptas laboriosam? At quibusdam dolorem voluptatibus praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste omnis vitae modi voluptas, tenetur officia alias incidunt dicta consequatur corrupti voluptate molestiae. Inventore animi at quam. Nihil fugit cum eaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, accusantium. Aliquid, facere. Sequi quos esse asperiores molestiae modi. Qui esse voluptatum, repudiandae iusto rerum tempora consequatur saepe fugit ex incidunt!</p>
    </main>
    

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="https://www.google.com">App Desarrollo</a>
                <a href="#">App Marketing</a>
                <a href="#">IOS Desarrollo</a>
                <a href="#">Android Desarrollo</a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>oHmn</b></p>
        </div>
    </footer>

</body>
</html>