* {
    margin: 0px;
    padding: 0%;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-size: 100% 10%;
    background-color: #7eb9f5;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

p {
    font-family: 'Aboreto', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif;
}



/*nav var*/



nav {
    background: #fff;
    background-color: #2f2fd8;
    height: 10px;
    width: 100%;
    position: absolute;
}

.main1 {
    background-color: #d0f0f8;
}

.enlace {
    position: absolute;
    padding: 10px 50px;
}

.logo {
    height: 60px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 10 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #8ce0e6;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.header1 {
    margin: 0;
    background-color: #d0f0f8;
}

.main1 {
    display: block;
}

section {
    background-size: cover;
    background-position: center center;
    height: calc(140px - 60px);
}


@media (max-width: 858px) {

    img {
        margin: 0px;
        padding: 0px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        float: right;
        margin-right: 20px;
    }

    nav ul li {
        color: rgb(0, 0, 0);
        font-size: 7px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    nav ul li a {
        font-size: 5px;
        color: #343434;
    }

    .enlace {
        margin: 0px;
        padding: 10px;
    }

    li a.active,
    li a:hover {
        background: #84c7e2;
        transition: 1s;
    }

    #check:checked~ul {
        left: 0;
    }
}

/*Main*/


/* The grid: Four equal columns that floats next to each other */

.imgCC {
    height: 100%;
    width: 100%;
}



.column {
    float: left;
    width: 25%;
    padding: 10px;
}



/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* Cards*/


.tiulodelacard {
    margin: 10px;
    text-align: center;
}

.textoDeCard {
    margin: 10px;

}

.nombreDelosR {
    margin: 1px;
    color: #3b8bdb;
}

.cardConProy {
    background-color: #ffffff;
    border-radius: 1vh;
    margin: 30px;
    padding: 30px;
}

.imgMasText {
    justify-content: center;
    margin: 10px;

}

.imgDecard {
    margin: 20px;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.centroDelCard {
    display: flex;
}

@media (max-width: 858px) {
    .cardConProy {
        background-color: #ffffff;
        border-radius: 1vh;
        margin: 10px;
        padding: 10px;
    }

    .imgMasText {
        justify-content: center;
        margin: 10px;

    }

    .imgDecard {
        padding: 0;
        margin: 0;
        height: 120px;
        width: 120px;
        justify-content: center;
        align-items: center;
    }
}

/* Footer */

footer {
    padding: 50px 0px;
    background-color: #d0f0f8;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}